.btn {
  border-radius: 20px;
  font-size: 1rem;
  font-weight: 600;
  color: #eef3ad;
  background-color: var(--primary-color);
  border: none;
  padding: 12px 20px;
  width: 100%;
  margin-bottom: 1rem;
}
