@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,600&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --primary-color: #516091;
  --secondary-color: #eef3ad;
  --third-color: #fff;
  --fourth-color: #707070;
}

html {
  font-size: 16px;
  background-color: #a5f5df;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: "Poppins", sans-serif;
}
